<% if card %>
  <h2><%= t(:current_card_label) %></h2>
  <div id="image-of-card" data-card-id = "<%= card.id %>">
    <% if card.image_flickr_url %>
      <%= image_tag(card.image_flickr_url, size: '150') %>
    <% elsif card.image? %>
      <%= image_tag card.image_url %>
    <% end %>
  </div>

  <div class='change-image-buttons'>
    <button type="button" class="change-image-button" data-card-id="<%= card.id %>">Изменить изображение</button>

    <%= simple_form_for card, html: { class: 'edit_card inside_card'}, method: :put, format: :js, remote: true, authenticity_token: true do |f| %>
      <%= f.input :image, as: :file, label: 'Изображение' %>
      <%= f.input :image_cache, as: :hidden %>
      <button type="button" class="download-from-flickr-button" data-toggle="modal" data-target="#modal-window">Загрузить с Flickr</button>
      <br>
      <%= f.button :submit, 'Сохранить', class: 'btn btn-default save-button-edit-form' %>
      <button type="button" class="cancel-image-edit-form">Отменить</button>
    <% end %>
  </div>

  <%= form_tag review_card_path(card_id: card.id), method: :put, remote: true do %>
    <div class="form-group">
      <%= label_tag '', t(:original_text_label) %>
      <%= text_area_tag '', card.original_text, class: 'form-control',
                        disabled: true %>
    </div>

    <div class="form-group">
      <%= label_tag '', t(:translated_text_label) %>
      <%= text_area_tag :user_translation, nil, class: 'form-control',
                        required: true, autofocus: true %>
    </div>

    <%= submit_tag t(:check_card_button), class: 'btn btn-default' %>
  <% end %>
<% else %>
  <p class="lead"><%= t(:no_review_card_text) %></p>
<% end %>

<div id="modal-window" class="modal fade">
  <div class="modal-dialog" role="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'flickr/modal_content', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" disabled='disabled' class="btn btn-default flickr-update-confirm-button">Обновить изображение</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
