<!-- <!DOCTYPE html>
<html>
<head>
  <title>Поиск картинки</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head> -->
<div class = 'modal'>
  <div class='flickr-header'> </div>

  <div class='container'>
    <%= simple_form_for :flickr, url: 'find', remote: true do |f| %>
      <div class="form-group row col-xs-8">
        <%= f.text_field '', as: :text  %>
      </div>

      <%= f.button :submit, 'Найти', class: "flickr-search-btn", 'data-disable-with' => 'Где-то тут было...' %>
    <% end %>

    <div class="flickr">
      <% if @photos %>
        <%= render 'search_results' %>
      <% end %>
    </div>
  </div>

  <div class="flickr-footer">
    <div class='container'>
      <button class="flickr-confirm-button">Принять</button>
      <button class="flickr-cancel-button">Отменить</button>
    </div>
  </div>
</div>
